#logo-ciosaki {
  height: 40px;
}

#sobre-mim {
  height: 80vh;
  width: 100%;
}
#sobre-mim {
  background-color: #b10f2e;
  background-image: url("https://wallpapercave.com/wp/wp4525209.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#info-sobre-mim {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 1%;
  width: 80%;
  font-size: 10%;
}

#img-perfil {
  width: 30%;
  min-width: 220px;
  border-radius: 50%;
  transition: width 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}
#img-perfil:hover {
  width: 40%;
}

#meus-amigos {
  margin-top: black solid 1px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
.pagina-meus-amigos {
  display: flex;
  justify-content: center;
}
.caixa .carta .imagem img {
  max-width: 100%;
  width: 206px;
  height: 206px;
  border-radius: 15px;
}

.caixa .carta .imagem {
  position: relative;
  text-align: center;
  width: 206px;
  height: 206px;
  top: -40%;
  left: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
@media (max-width: 380px) {
  .caixa .carta .imagem img {
    width: 190px;
    height: 190px;
  }
  .caixa .carta .imagem {
    left: 3px;
    width: 190px;
    height: 190px;
  }
}
.caixa .carta {
  max-width: 300px;
  height: 215px;
  background-color: #0d1821;
  margin: 60px 20px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.caixa .carta:hover {
  height: 320px;
}

.caixa .carta .texto {
  position: relative;
  top: -140px;
  padding: 30px 15px;
  padding-bottom: 30px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.caixa .carta .texto p {
  height: 130px;
  overflow-y: auto;
}

.caixa .carta:hover .texto {
  color: white;
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.caixa {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#contato {
  background-color: #f26419;
}

.bg-black {
  background-color: #04080f;
}
.bg-black-tp {
  background-color: #04080fad;
}
